mixin pc(x) 
    | #[+value(x/100, {"FORMAT": "0.0%"})]

mixin make_comp(a, b)
    - let diff = b-a
    if (diff==0)
        | the rate was the same
    else
        | !{(diff>0)?'up':'down'}
        | from #[+pc(a)]

each story, i in selected.Story
    - var splits = story.label.split("_")
    - var current_data = selected.Data[splits[0]][splits[1]][splits[2]]
    - var previous_data = selected.Data[splits[0]][splits[1]][1]
    - console.log(i, "splits", splits)
    if (i==0)
        h2 
            | Prices !{(current_data>0)?'rise':'fall'} for !{strip(splits[0])}
    p 
        - var alt_data = words[splits[1]]["alt"]
        | The !{words[splits[1]]["adj"]} inflation rate for !{strip(splits[0])}
        | was #[+pc(current_data)] in December 2022,
        | #[+make_comp(previous_data, current_data)]
        | !{words[splits[1]]["comp"]}. 
        | In the #[+value( words[alt_data]['noun'] )] to December 2022, the inflation rate for these products was 
        | #[+pc(selected.Data[splits[0]][alt_data][splits[2]])].
